<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>LOG-ANALYZER</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-dark bg-success mb-4">
    <div class="container-fluid justify-content-md-center">
        <span class="navbar-brand mb-0 h1"><b>LOG-ANALYZER</b></span>
    </div>
</nav>
<div class="container">
    <div class="row justify-content-between">

        <hr/>
    </div>
    <div class="row justify-content-between" th:if="${#lists.isEmpty(logsPage.content)}">
        <div class="alert alert-warning" role="alert">
            <div style="text-align:center"><p><b>No logs are imported into the database</b></p>
                <button type="button" class="btn btn-success mt-4 mb-4">Import Logs</button>
            </div>
        </div>
    </div>
    <div class="row justify-content-between" th:if="${not #lists.isEmpty(logsPage.content)}">
        <div class="col col-3">
            <form>
                <div class="row form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="Thread name">
                    <label for="floatingInput">Thread</label>
                </div>
                <div class="row form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Login">
                    <label for="floatingPassword">Login</label>
                </div>
                <div class="row">
                    <button type="button" class="btn btn-lg btn-success">Search</button>
                </div>
            </form>
        </div>
        <div class="col col-9">
            <table class="table table-striped">
                <tr class="table-success">
                    <th>ID</th>
                    <th>DATE</th>
                    <th>THREAD</th>
                    <th>LOGIN</th>
                    <th>TYPE/STATUS</th>
                    <th>CORRELATION</th>
                    <th>DETAILS</th>
                </tr>
                <tr th:each="l:${logsPage.content}">
                    <td th:text="${l.id}"></td>
                    <td th:text="${l.date}"></td>
                    <td th:text="${l.thread}"></td>
                    <td th:text="${l.login}"></td>
                    <td>
                        <div class ="text-center">
                        <span th:class="'badge bg-' + ${l.bodyInfosDto.responseStatutEnum.value}"
                              th:text="${l.bodyInfosDto.statusValue}"></span>
                        </div>
                    </td>
                    <td th:text="${l.correlation}"></td>
                    <td></td>
                </tr>
            </table>
            <div class="row">
                <nav>
                    <ul class="pagination">
                        <li class="page-item p-1" th:each="page,status:${pages}">
                            <a th:class="${status.index==currentPage ? 'btn btn-success' : 'btn btn-outline-success'}"
                               th:href="@{logs(page=${status.index}+1)}"
                               th:text="${status.index}+1"
                            ></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
</body>
</html>